.active-primary {
    background: var(--primary) !important;
    color: white !important;
}

.active-light {
    background: var(--light) !important;
    color: #303a52 !important;
}

.active-dark {
    background: var(--dark) !important;
    color: white !important;
}

.active-outline.active-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    backgrouncolor: white !important;
}

.active-outline.active-light {
    color: var(--light) !important;
    border-color: var(--light) !important;
    backgrouncolor: #000 !important;
}
.active-outline.active-dark {
    color: var(--dark)  !important;
    border-color: var(--dark)  !important;
    backgrouncolor: var(--light) !important;
}
