:root{
	--alert-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	--alert-box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--alert-border-radius: 5px;
	--alert-font-size: 16px;
	--alert-margin: 15px;
	--alert-cursor: pointer;
	--alert-outline-width:2px;
	--alert-padding:15px;
}

.alert {
    padding: var(--alert-padding);
    border-radius: var(--alert-border-radius);
    -webkit-box-shadow: var(--alert-box-shadow);
    box-shadow: var(--alert-box-shadow);
    background: #efefef;
    margin-bottom: 1rem;
    position: relative;
    z-index: 9;
	font-size: var(--alert-font-size);
    border: var(--alert-outline-width) solid none;
}
.alert:hover {
	-moz-box-shadow: var(--alert-box-shadow-hover);
	-webkit-box-shadow: var(--alert-box-shadow-hover);
	box-shadow: var(--alert-box-shadow-hover);
}
.alert-rounded{
	--alert-border-radius: 10px;
}
.alert-no-border{
	--alert-border-radius: 0px;
}
.alert-pill{
	--alert-border-radius: 50px;
}
.alert-heading {
    color: inherit;
}
.alert-link:hover{
    color:white;
}
.alert-dismissible{
    padding-right: 40px;
}
.alert .close {
    position: absolute;
    border: none;
    background: no-repeat;
    color: inherit;
    font-size: var(--alert-font-size);
    font-weight: 700;
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    top: 50%;
	transform: translateY(-50%);
    right: var(--alert-margin);
}
.alert .close:hover{
    background: rgba(255, 255, 255, 0.20);
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
}
.alert *:last-child {
    margin-bottom: 0px;
}
.alert p{
    margin-bottom: 0;
}
.alert-link {
    color: inherit;
    font-family: "Nunito SemiBold";
    text-decoration: underline;
}
.alert hr {
    background: rgba(0, 0, 0,0.14);
}

/*Color*/
.alert-primary {
    background: var(--primary);
    color: white;
}

.alert-light {
    background: var(--light);
    color: #303a52;
}

.alert-dark {
    background: var(--dark);
    color: white;
}

.alert-outline{
	border: var(--alert-outline-width) solid transparent;
}
.alert-outline.alert-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: white;
}

.alert-outline.alert-light {
    color: var(--light-color);
    border-color: var(--light-color);
    background: var(--dark);
}
.alert-outline.alert-dark {
    color: var(--dark-color) ;
    border-color: var(--dark-color) ;
    background: var(--light);
}

/*Sizing*/

.alert-large {
	--alert-padding: 20px;
	--alert-font-size: 18px;
}

.alert-extra-large {
	--alert-padding: 35px;
	--alert-font-size: 20px;
}

.alert-small {
	--alert-margin: 8px;
	--alert-padding: 10px 13px;
	--alert-font-size: 14px;
}

.alert-extra-small {
	--alert-margin: 5px;
	--alert-padding: 5px 8px;
	--alert-font-size: 13px;
}
@media (min-width: 576px) {
	.alert-sm-large {
		--alert-padding: 20px;
		--alert-font-size: 18px;
	}

	.alert-sm-extra-large {
		--alert-padding: 35px;
		--alert-font-size: 20px;
	}

	.alert-sm-small {
		--alert-margin: 8px;
		--alert-padding: 10px 13px;
		--alert-font-size: 14px;
	}

	.alerts-sm-extra-small {
		--alert-margin: 5px;
		--alert-padding: 5px 8px;
		--alert-font-size: 13px;
	}
}

@media (min-width: 768px) {
	.alert-md-large {
		--alert-padding: 20px;
		--alert-font-size: 18px;
	}

	.alert-md-extra-large {
		--alert-padding: 35px;
		--alert-font-size: 20px;
	}

	.alert-md-small {
		--alert-margin: 8px;
		--alert-padding: 10px 13px;
		--alert-font-size: 14px;
	}

	.alert-md-extra-small {
		--alert-margin: 5px;
		--alert-padding: 5px 8px;
		--alert-font-size: 13px;
	}
}

@media (min-width: 992px) {
	.alert-lg-large {
		--alert-padding: 20px;
		--alert-font-size: 18px;
	}

	.alert-lg-extra-large {
		--alert-padding: 35px;
		--alert-font-size: 20px;
	}

	.alert-lg-small {
		--alert-margin: 8px;
		--alert-padding: 10px 13px;
		--alert-font-size: 14px;
	}

	.alert-lg-extra-small {
		--alert-margin: 5px;
		--alert-padding: 5px 8px;
		--alert-font-size: 13px;
	}
}

@media (min-width: 1200px) {
	.alert-xl-large {
		--alert-padding: 20px;
		--alert-font-size: 18px;
	}

	.alert-xl-extra-large {
		--alert-padding: 35px;
		--alert-font-size: 20px;
	}

	.alert-xl-small {
		--alert-margin: 8px;
		--alert-padding: 10px 13px;
		--alert-font-size: 14px;
	}

	.alert-xl-extra-small {
		--alert-margin: 5px;
		--alert-padding: 5px 8px;
		--alert-font-size: 13px;
	}
}

@media screen and (max-width: 500px) {
    .alert{
        padding: 10px;
		font-size: 14px;
    }
    .alert-dismissible{
        padding-right: 35px;
    }

    .alert .close {
        font-size: 16px;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
    }
}
