:root {
	--btn-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	--btn-box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--btn-border-radius: 5px;
	--btn-padding: 8px 25px;
	--btn-font-size: 16px;
	--btn-margin: 10px;
	--btn-outline-width: 2px;
	--btn-cursor: pointer;
}

.btn {
	color: #303a52;
	font-size: var(--btn-font-size);
	background: #efefef;
	padding: var(--btn-padding);
	border: var(--btn-outline-width) solid none;
	border-radius: var(--btn-border-radius);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	font-weight: 500;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.5;
	outline: none;
	cursor: var(--btn-cursor) !important;
	-moz-box-shadow: var(--btn-box-shadow);
	-webkit-box-shadow: var(--btn-box-shadow);
	box-shadow: var(--btn-box-shadow);
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.btn-rounded {
	--btn-border-radius: 10px;
}

.btn-pill {
	--btn-border-radius: 50px;
}

.btn-no-radius {
	--btn-border-radius: 0px;
}

.btn:hover {
	-moz-box-shadow: var(--btn-box-shadow-hover);
	-webkit-box-shadow: var(--btn-box-shadow-hover);
	box-shadow: var(--btn-box-shadow-hover);
}

.btn[disabled], .btn-disabled {
	--btn-cursor: not-allowed;
	opacity: .8;
}

/*Button Size*/

.btn-large {
	--btn-padding: 10px 30px;
	--btn-font-size: 18px;
}

.btn-extra-large {
	--btn-padding: 12px 35px;
	--btn-font-size: 20px;
}

.btn-small {
	--btn-margin: 8px;
	--btn-padding: 6px 20px;
	--btn-font-size: 14px;
}

.btn-extra-small {
	--btn-margin: 5px;
	--btn-padding: 3px 10px;
	--btn-font-size: 13px;
}

/*Button Group*/
.btn-group-lg {
	--btn-padding: 10px 30px;
	--btn-font-size: 18px;
}

.btn-group-xl {
	--btn-padding: 12px 35px;
	--btn-font-size: 20px;
}

.btn-group-sm {
	--btn-margin: 8px;
	--btn-padding: 6px 20px;
	--btn-font-size: 14px;
}

.btn-group-xs {
	--btn-margin: 5px;
	--btn-padding: 3px 10px;
	--btn-font-size: 13px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group > .btn-group:not(:first-child), .btn-group > .btn:not(:first-child) {
	margin-left: -1px;
}

.btn-group-vertical .btn, .btn-group-vertical .btn-group {
	width: 100%;
}

.btn-group-vertical > .btn, .btn-group > .btn {
	position: relative;
	-ms-flex: 0 1 auto;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	vertical-align: middle;
}

.btn-group-vertical {
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:last-child) > .btn, .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group:not(:first-child) > .btn, .btn-group-vertical > .btn:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*Button Colors*/
.btn-primary {
	background: var(--primary);
	color: white;
}

.btn-light {
	background: var(--light);
}

.btn-dark {
	background: var(--dark);
	color: white;
}

.btn-link {
	color: blue;
	background: none;
	box-shadow: none;
}

.btn-link:hover {
	box-shadow: none !important;
}
.btn-outline{
	border:var(--btn-outline-width) solid transparent;
}
.btn-outline.btn-primary {
	color: var(--primary-color);
	border-color: var(--primary-color);
	background: white;
}

.btn-outline.btn-light {
	color: var(--light-color);
	border-color: var(--light-color);
	background: var(--dark);
}

.btn-outline.btn-dark {
	color: var(--dark-color);
	border-color: var(--dark-color);
	background: var(--light);
}

/*Spinner*/
@-webkit-keyframes spinner-border {
	to {
		transform: rotate(360deg)
	}
}

@keyframes spinner-border {
	to {
		transform: rotate(360deg)
	}
}

@-webkit-keyframes spinner-grow {
	0% {
		transform: scale(0)
	}

	50% {
		opacity: 1;
		transform: none
	}
}

@keyframes spinner-grow {
	0% {
		transform: scale(0)
	}

	50% {
		opacity: 1;
		transform: none
	}
}

.btn-loading .spinner {
	display: inline-block;
}

.btn-loading {
	--btn-cursor: default;
	opacity: .9;
}

.btn-loading:before {
	content: "";
	width: var(--btn-font-size);
	height: var(--btn-font-size);
	border: 3px solid;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: .75s linear infinite spinner-border;
	animation: .75s linear infinite spinner-border;
	margin-right: var(--btn-margin);
}

.btn-loading-grow:before {
	content: "";
	width: var(--btn-font-size);
	height: var(--btn-font-size);
	border: 3px solid;

	border-radius: 50%;
	opacity: 0;
	-webkit-animation: .75s linear infinite spinner-grow;
	animation: .75s linear infinite spinner-grow;
	margin-right: var(--btn-margin);
}


@media (min-width: 576px) {
	.btn-sm-large {
		--btn-padding: 10px 30px;
		--btn-font-size: 18px;
	}

	.btn-sm-extra-large {
		--btn-padding: 12px 35px;
		--btn-font-size: 20px;
	}

	.btn-sm-small {
		--btn-margin: 8px;
		--btn-padding: 6px 20px;
		--btn-font-size: 14px;
	}

	.btn-sm-extra-small {
		--btn-margin: 5px;
		--btn-padding: 3px 10px;
		--btn-font-size: 13px;
	}
}

@media (min-width: 768px) {
	.btn-md-large {
		--btn-padding: 10px 30px;
		--btn-font-size: 18px;
	}

	.btn-md-extra-large {
		--btn-padding: 12px 35px;
		--btn-font-size: 20px;
	}

	.btn-md-small {
		--btn-margin: 8px;
		--btn-padding: 6px 20px;
		--btn-font-size: 14px;
	}

	.btn-md-extra-small {
		--btn-margin: 5px;
		--btn-padding: 3px 10px;
		--btn-font-size: 13px;
	}
}

@media (min-width: 992px) {
	.btn-lg-large {
		--btn-padding: 10px 30px;
		--btn-font-size: 18px;
	}

	.btn-lg-extra-large {
		--btn-padding: 12px 35px;
		--btn-font-size: 20px;
	}

	.btn-lg-small {
		--btn-margin: 8px;
		--btn-padding: 6px 20px;
		--btn-font-size: 14px;
	}

	.btn-lg-extra-small {
		--btn-margin: 5px;
		--btn-padding: 3px 10px;
		--btn-font-size: 13px;
	}
}

@media (min-width: 1200px) {
	.btn-xl-large {
		--btn-padding: 10px 30px;
		--btn-font-size: 18px;
	}

	.btn-xl-extra-large {
		--btn-padding: 12px 35px;
		--btn-font-size: 20px;
	}

	.btn-xl-small {
		--btn-margin: 8px;
		--btn-padding: 6px 20px;
		--btn-font-size: 14px;
	}

	.btn-xl-extra-small {
		--btn-margin: 5px;
		--btn-padding: 3px 10px;
		--btn-font-size: 13px;
	}
}
