.bg-primary {
    background: var(--primary) !important;
    color: white !important;
}
.bg-secondary{
    background: var(--secondary) !important;
    color: white !important;
}
.bg-danger {
    background: var(--danger) !important;
    color: white !important;
}

.bg-success {
    color: #ffffff !important;
    background: var(--success) !important;
}

.bg-info {
    color: white !important;
    background: var(--info) !important;
}

.bg-warning {
    color: white !important;
    background: var(--warning) !important;
}

.bg-light {
    background: var(--light) !important;
    color: #303a52 !important;
}

.bg-dark {
    background: var(--dark) !important;
    color: white !important;
}

.bg-success-alt {
    background: var(--success-alt) !important;
    color: var(--success-alt-text) !important;
}

.bg-danger-alt {
    background: var(--danger-alt) !important;
    color: var(--danger-alt-text) !important;
}

.bg-info-alt {
    background: var(--info-alt) !important;
    color: var(--info-alt-text) !important;
}

.bg-warning-alt {
    background: var(--warning-alt) !important;
    color: var(--warning-alt-text) !important;
}

.bg-dark-alt {
    background: var(--dark-alt) !important;
    color: var(--dark-alt-text) !important;
}

.bg-light-alt {
    background: var(--light-alt) !important;
    color: var(--light-alt-text) !important;
}
.bg-secondary-alt {
    background: var(--secondary-alt) !important;
    color: var(--secondary-alt-text) !important;
}
.bg-primary-alt {
    background: var(--primary-alt) !important;
    color: var(--primary-alt-text) !important;
}

.bg-primary-light {
    color: var(--primary) !important;
    background: var(--primary-light) !important;
    border: 1px solid var(--primary-light-border)  !important;
}
.bg-secondary-light{
    color: var(--secondary) !important;
    background: var(--secondary-light) !important;
    border: 1px solid var(--secondary-light-border)  !important;
}
.bg-success-light {
    background: var(--success-light) !important;
    color: var(--success) !important;
    border: 1px solid var(--success-light-border) !important;
}

.bg-danger-light {
    background: var(--danger-light) !important;
    color: var(--danger) !important;
    border: 1px solid var(--danger-light-border) !important;
}

.bg-info-light {
    background: var(--info-light) !important;
    color: var(--info) !important;
    border: 1px solid var(--info-light-border) !important;
}

.bg-warning-light {
    background: var(--warning-light) !important;
    border: 1px solid var(--warning-light-border) !important;
    color: var(--warning) !important;
}


.bg-primary-alt-light {
    color: var(--primary-alt) !important;
    background: var(--primary-alt-light) !important;
    border: 1px solid var(--primary-alt-light-border) !important;
}
.bg-secondary-alt-light {
    color: #606060 !important;
    background: #e1e1e1 !important;
    border: 1px solid var(--secondary-alt-light-border) !important;
}

.bg-success-alt-light {
    background: var(--success-alt-light) !important;
    color: var(--success-alt) !important;
    border: 1px solid var(--success-alt-light-border) !important;
}

.bg-danger-alt-light {
    background: var(--danger-alt-light) !important;
    color: var(--danger-alt) !important;
    border: 1px solid var(--danger-alt-light-border) !important;
}

.bg-info-alt-light {
    background: var(--info-alt-light) !important;
    color: var(--info-alt) !important;
    border: 1px solid var(--info-alt-light-border) !important;
}


.bg-warning-alt-light {
    background: var(--warning-alt-light) !important;
    border: 1px solid var(--warning-alt-light-border) !important;
    color: var(--warning-alt) !important;
}

.bg-light-text {
    color: #fff !important;
}
.bg-light-alt.bg-light-text{
    color: #3f51b5 !important;
}
.bg-secondary-alt.bg-light-text {
    color: #0e9577 !important;
}

.bg-dark-alt hr{
    background-color: rgba(255, 255, 255,0.69) !important;
}

.bg-primary-invert {
    color: var(--primary) !important;
    background-color: white !important;
}

.bg-secondary-invert {
    color: var(--secondary) !important;
    background-color: white !important;
}

.bg-success-invert {
    color: var(--success) !important;
    background-color: white !important;
}

.bg-danger-invert {
    color: var(--danger) !important;
    background-color: white !important;
}

.bg-info-invert {
    color: var(--info) !important;
    background-color: white !important;
}

.bg-warning-invert {
    color: var(--warning) !important;
    background-color: white !important;
}

.bg-light-invert {
    color: var(--light) !important;
    background-color: #000 !important;
}
.bg-dark-invert {
    color: var(--dark)  !important;
    background-color: var(--light) !important;
}


.bg-primary-alt-invert {
    color: var(--primary-alt) !important;
    background-color: var(--primary-alt-text) !important;
}

.bg-secondary-alt-invert {
    color: var(--secondary-alt) !important;
    background-color: var(--secondary-alt-text) !important;
}

.bg-success-alt-invert {
    color: var(--success-alt) !important;
    background-color: var(--success-alt-text) !important;
}

.bg-danger-alt-invert {
    color: var(--danger-alt) !important;
    background-color: var(--danger-alt-text) !important;
}

.bg-info-alt-invert {
    color: var(--info-alt) !important;
    background-color: var(--info-alt-text) !important;
}

.bg-warning-alt-invert {
    color: var(--warning-alt) !important;
    background-color: var(--warning-alt-text) !important;
}

.bg-light-alt-invert {
    color: var(--dark-alt) !important;
    background-color: var(--dark-alt-text) !important;
}

.bg-dark-alt-invert {
    color: var(--light-alt) !important;
    background-color: var(--light-alt-text) !important;
}

.bg-success-light hr {
    background-color: var(--success-light-border) !important;
}
.bg-primary-light hr{
    background-color: var(--primary-light-border) !important;
}
.bg-info-light hr{
    background-color: var(--info-light-border) !important;
}
.bg-danger-light hr{
    background-color: var(--danger-light-border) !important;
}
.bg-warning-light hr{
    background-color: var(--warning-light-border) !important;
}
.bg-primary-alt-light-invert {
    color: var(--primary-alt) !important;
    background-color: #fff !important;
}

.bg-secondary-alt-light-invert {
    color: var(--secondary-alt) !important;
    background-color: #0e9577 !important;
}

.bg-success-alt-light-invert {
    color: var(--success-alt) !important;
    background-color: #fff !important;
}

.bg-danger-alt-light-invert {
    color: var(--danger-alt) !important;
    background-color: #fff !important;
}

.bg-info-alt-light-invert {
    color: var(--info-alt) !important;
    background-color: #fff !important;
}

.bg-warning-alt-light-invert {
    color: var(--warning-alt) !important;

    background-color: #fff !important;
}



.bg-primary-light-invert {
    color: var(--primary-light) !important;
    background-color: var(--primary) !important;

}

.bg-secondary-light-invert  {
    color: var(--secondary-light) !important;
    background-color: var(--secondary) !important;

}

.bg-success-light-invert  {
    color: var(--success-light) !important;
    background-color: var(--success) !important;

}

.bg-danger-light-invert  {
    color: var(--danger-light) !important;
    background-color: var(--danger) !important;
}

.bg-info-light-invert  {
    color: var(--info-light) !important;
    background-color: var(--info) !important;

}

.bg-warning-light-invert  {
    color: var(--warning-light) !important;
    background-color: var(--warning) !important;
    border: 1px solid var(--warning-light-border) !important;
}
.bg-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    background-color: white !important;
}

.bg-outline-secondary {
    color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    background-color: white !important;
}

.bg-outline-success {
    color: var(--success) !important;
    border-color: var(--success) !important;
    background-color: white !important;
}

.bg-outline-danger {
    color: var(--danger) !important;
    border-color: var(--danger) !important;
    background-color: white !important;
}

.bg-outline-info {
    color: var(--info) !important;
    border-color: var(--info) !important;
    background-color: white !important;
}

.bg-outline-warning {
    color: var(--warning) !important;
    border-color: var(--warning) !important;
    background-color: white !important;
}

.bg-outline-light {
    color: var(--light) !important;
    border-color: var(--light) !important;
    background-color: #000 !important;
}
.bg-outline-dark {
    color: var(--dark)  !important;
    border-color: var(--dark)  !important;
    background-color: var(--light) !important;
}

.bg-outline-primary-alt {
    color: var(--primary-alt) !important;
    border-color: var(--primary-alt) !important;
    background-color: var(--primary-alt-text) !important;
}

.bg-outline-secondary-alt {
    color: var(--secondary-alt) !important;
    border-color: var(--secondary-alt) !important;
    background-color: var(--secondary-alt-text) !important;
}

.bg-outline-success-alt {
    color: var(--success-alt) !important;
    border-color: var(--success-alt) !important;
    background-color: var(--success-alt-text) !important;
}

.bg-outline-danger-alt {
    color: var(--danger-alt) !important;
    border-color: var(--danger-alt) !important;
    background-color: var(--danger-alt-text) !important;
}

.bg-outline-info-alt {
    color: var(--info-alt) !important;
    border-color: var(--info-alt) !important;
    background-color: var(--info-alt-text) !important;
}

.bg-outline-warning-alt {
    color: var(--warning-alt) !important;
    border-color: var(--warning-alt) !important;
    background-color: var(--warning-alt-text) !important;
}

.bg-outline-light-alt {
    color: var(--dark-alt) !important;
    border-color: var(--dark-alt) !important;
    background-color: var(--dark-alt-text) !important;
}

.bg-outline-dark-alt {
    color: var(--light-alt) !important;
    border-color: var(--light-alt) !important;
    background-color: var(--light-alt-text) !important;
}
.bg-outline-light-text {
    background: white !important;
}
.bg.bg-outline-secondary-alt.bg-outline-light-text {
    background: var(--secondary-alt-text) !important;
}
.bg-outline-primary-alt-light {
    color: var(--primary-alt) !important;
    border-color: var(--primary-alt) !important;
    background-color: #fff !important;
}

.bg-outline-secondary-alt-light {
    color: var(--secondary-alt) !important;
    border-color: var(--secondary-alt) !important;
    background-color: #0e9577 !important;
}

.bg-outline-success-alt-light {
    color: var(--success-alt) !important;
    border-color: var(--success-alt) !important;
    background-color: #fff !important;
}

.bg-outline-danger-alt-light {
    color: var(--danger-alt) !important;
    border-color: var(--danger-alt) !important;
    background-color: #fff !important;
}

.bg-outline-info-alt-light {
    color: var(--info-alt) !important;
    border-color: var(--info-alt) !important;
    background-color: #fff !important;
}

.bg-outline-warning-alt-light {
    color: var(--warning-alt) !important;
    border-color: var(--warning-alt) !important;
    background-color: #fff !important;
}
