:root {
	--input-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	--input-box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--input-border-radius: 5px;
	--input-padding: 8px 15px;
	--input-font-size: 16px;
	--input-margin: 10px;
	--input-outline-width: 2px;
	--input-cursor: pointer;
	--input-background: white;
	--input-border-color: #ededed;
	--success: #17b978;
	--danger: #ff304f;
}

.form-group label {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: var(--input-margin);
	font-size: var(--input-font-size);
}

.form-control {
	width: 100%;
	border: var(--input-outline-width) solid var(--input-border-color);
	padding: var(--input-padding);
	border-radius: var(--input-border-radius);
	font-size: var(--input-font-size);
	outline: none;
	background: var(--input-background);
	font-family: 'Nunito Sans', sans-serif;
}

.form-fill {
	--input-background: #f5f5f5;
}

.form-underline .form-control {
	--input-outline-width: 2px;
	--input-border-radius: 0;
	border: none;
	border-bottom: var(--input-outline-width) solid var(--input-border-color);
}

.form-floating label{
	position: absolute;
	bottom: 0;
	top: unset;
	left: 0;
	margin-bottom: 0;
	padding:var(--input-padding);
	color: rgb(117, 117, 117);
	pointer-events: none;
	border: 1px solid transparent;
	transform-origin: 0 0;
	transition: opacity .1s ease-in-out, transform .1s ease-in-out,padding .1s ease-in-out;
}
.form-cover .form-control{
	border:none !important;
	padding:0 !important;
	border-radius: 0;
}
.form-cover label{
	--input-font-size: 13px;
	--input-margin: 3px;
	vertical-align: top;
}
.form-cover .form-control:focus{
	box-shadow: none;
}
.form-cover{
	padding: var(--input-padding);
	border-radius: var(--input-border-radius);
	font-size: var(--input-font-size);
	outline: none;
	background: var(--input-background);
	border: var(--input-outline-width) solid var(--input-border-color);
}
.form-floating{
	margin-top: 10px;
}
.form-floating .form-control::placeholder {
	color: transparent;
}
.form-floating .form-control:focus~label, .form-floating .form-select~label,.form-floating .form-control:not(:placeholder-shown)~label {
	transform: scale(.85) translateY(-35px) translateX(0);
	padding-left: 0;
}
.form-fill-border {
	--input-background: #f5f5f5;
	--input-border-color: #f5f5f5;
}

.form-control-rounded {
	--input-border-radius: 10px;
}

.form-control-pill {
	--input-border-radius: 50px;
}

.form-control-no-radius {
	--input-border-radius: 0px;
}

.form-control[type="number"] {
	-webkit-appearance: none;
	appearance: none;
}

.form-control[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.form-control:focus {
	-moz-box-shadow: var(--input-box-shadow);
	-webkit-box-shadow: var(--input-box-shadow);
	box-shadow: var(--input-box-shadow);
	border-color: var(--primary-color);
}

select.form-control {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
	background: rgb(255, 255, 255);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 30px;
}


/*Sizing*/
.form-small {
	--input-padding: 6px 12px;
	--input-font-size: 14px;
	--input-margin: 8px;
}

.form-extra-small {
	--input-padding: 4px 10px;
	--input-font-size: 12px;
	--input-margin: 5px;
}

.form-large {
	--input-padding: 10px 20px;
	--input-font-size: 17px;
	--input-margin: 13px;
}

.form-extra-large {
	--input-padding: 15px 25px;
	--input-font-size: 20px;
	--input-margin: 15px;
}




.form-small.custom-control {
	--input-padding: 6px 12px;
	--input-font-size: 13px;
	--input-margin: 7px;
}

.form-extra-small.custom-control {
	--input-padding: 4px 10px;
	--input-font-size: 11px;
	--input-margin: 4px;
}

.form-large.custom-control {
	--input-padding: 10px 20px;
	--input-font-size: 18px;
	--input-margin: 14px;
}

.form-extra-large.custom-control {
	--input-padding: 15px 25px;
	--input-font-size: 23px;
	--input-margin: 16px;
}



.form-large.custom-file {
	height: calc(calc(var(--input-font-size) * 2) + 10px) !important;
}

.form-extra-large.custom-file {
	height: calc(calc(var(--input-font-size) * 2) + 20px) !important;
}

@media (min-width: 576px) {
	.form-sm-small.custom-control {
		--input-padding: 6px 12px;
		--input-font-size: 13px;
		--input-margin: 7px;
	}

	.form-sm-extra-small.custom-control {
		--input-padding: 4px 10px;
		--input-font-size: 11px;
		--input-margin: 4px;
	}

	.form-sm-large.custom-control {
		--input-padding: 10px 20px;
		--input-font-size: 18px;
		--input-margin: 14px;
	}

	.form-sm-extra-large.custom-control {
		--input-padding: 15px 25px;
		--input-font-size: 23px;
		--input-margin: 16px;
	}

	.form-sm-small {
		--input-padding: 6px 12px;
		--input-font-size: 14px;
		--input-margin: 8px;
	}

	.form-sm-extra-small {
		--input-padding: 4px 10px;
		--input-font-size: 12px;
		--input-margin: 5px;
	}

	.form-sm-large {
		--input-padding: 10px 20px;
		--input-font-size: 17px;
		--input-margin: 13px;
	}

	.form-sm-extra-large {
		--input-padding: 15px 25px;
		--input-font-size: 20px;
		--input-margin: 15px;
	}



	.form-sm-large.custom-file {
		height: calc(calc(var(--input-font-size) * 2) + 10px) !important;
	}

	.form-sm-extra-large.custom-file {
		height: calc(calc(var(--input-font-size) * 2) + 20px) !important;
	}

}

@media (min-width: 768px) {
	.form-md-small.custom-control {
		--input-padding: 6px 12px;
		--input-font-size: 13px;
		--input-margin: 7px;
	}

	.form-md-extra-small.custom-control {
		--input-padding: 4px 10px;
		--input-font-size: 11px;
		--input-margin: 4px;
	}

	.form-md-large.custom-control {
		--input-padding: 10px 20px;
		--input-font-size: 18px;
		--input-margin: 14px;
	}

	.form-md-extra-large.custom-control {
		--input-padding: 15px 25px;
		--input-font-size: 23px;
		--input-margin: 16px;
	}
	.form-md-small {
		--input-padding: 6px 12px;
		--input-font-size: 14px;
		--input-margin: 8px;
	}

	.form-md-extra-small {
		--input-padding: 4px 10px;
		--input-font-size: 12px;
		--input-margin: 5px;
	}

	.form-md-large {
		--input-padding: 10px 20px;
		--input-font-size: 17px;
		--input-margin: 13px;
	}

	.form-md-extra-large {
		--input-padding: 15px 25px;
		--input-font-size: 20px;
		--input-margin: 15px;
	}


	.form-md-large.custom-file {
		height: calc(calc(var(--input-font-size) * 2) + 10px) !important;
	}

	.form-md-extra-large.custom-file {
		height: calc(calc(var(--input-font-size) * 2) + 20px) !important;
	}

}

@media (min-width: 992px) {
	.form-lg-small.custom-control {
		--input-padding: 6px 12px;
		--input-font-size: 13px;
		--input-margin: 7px;
	}

	.form-lg-extra-small.custom-control {
		--input-padding: 4px 10px;
		--input-font-size: 11px;
		--input-margin: 4px;
	}

	.form-lg-large.custom-control {
		--input-padding: 10px 20px;
		--input-font-size: 18px;
		--input-margin: 14px;
	}

	.form-lg-extra-large.custom-control {
		--input-padding: 15px 25px;
		--input-font-size: 23px;
		--input-margin: 16px;
	}

	.form-lg-small {
		--input-padding: 6px 12px;
		--input-font-size: 14px;
		--input-margin: 8px;
	}

	.form-lg-extra-small {
		--input-padding: 4px 10px;
		--input-font-size: 12px;
		--input-margin: 5px;
	}

	.form-lg-large {
		--input-padding: 10px 20px;
		--input-font-size: 17px;
		--input-margin: 13px;
	}

	.form-lg-extra-large {
		--input-padding: 15px 25px;
		--input-font-size: 20px;
		--input-margin: 15px;
	}

	.form-lg-extra-large.custom-file {
		height: calc(calc(var(--input-font-size) * 2) + 20px) !important;
	}

}

@media (min-width: 1200px) {
	.form-xl-small.custom-control {
		--input-padding: 6px 12px;
		--input-font-size: 13px;
		--input-margin: 7px;
	}

	.form-xl-extra-small.custom-control {
		--input-padding: 4px 10px;
		--input-font-size: 11px;
		--input-margin: 4px;
	}

	.form-xl-large.custom-control {
		--input-padding: 10px 20px;
		--input-font-size: 18px;
		--input-margin: 14px;
	}

	.form-xl-extra-large.custom-control {
		--input-padding: 15px 25px;
		--input-font-size: 23px;
		--input-margin: 16px;
	}

	.form-xl-small {
		--input-padding: 6px 12px;
		--input-font-size: 14px;
		--input-margin: 8px;
	}

	.form-xl-extra-small {
		--input-padding: 4px 10px;
		--input-font-size: 12px;
		--input-margin: 5px;
	}

	.form-xl-large {
		--input-padding: 10px 20px;
		--input-font-size: 17px;
		--input-margin: 13px;
	}

	.form-xl-extra-large {
		--input-padding: 15px 25px;
		--input-font-size: 20px;
		--input-margin: 15px;
	}


}

.form-group, .custom-control {
	margin-bottom: calc(var(--input-margin) + 6px);
	position: relative;
}

.form-group-primary .form-control:focus {
	border-color: var(--primary-color);
}

.form-group-dark .form-control:focus {
	border-color: var(--dark-color);
}

.form-group-light .form-control:focus {
	border-color: var(--light-color);
}

.form-control-outline {
	border: var(--btn-outline-width) solid transparent;
}

.form-group-primary .form-control-outline {
	color: var(--primary-color);
	border-color: var(--primary-color);
	background: white;
}

.form-group-light .form-control-outline {
	color: var(--light-color);
	border-color: var(--light-color);
	background: var(--dark);
}

.form-group-dark .form-control-outline {
	color: var(--dark-color);
	border-color: var(--dark-color);
	background: var(--light);
}

.form-control-outline.input-primary {
	border-color: var(--primary-color);
}

.form-control-outline.input-dark {
	border-color: var(--dark-color);
}

.form-control-outline.input-light {
	border-color: var(--light-color);
}

.form-control-outline.input-primary .custom-file-label {
	border-color: var(--primary-color);
}

.form-control-outline.input-dark .custom-file-label {
	border-color: var(--dark-color);
}

.form-control-outline.input-light .custom-file-label {
	border-color: var(--light-color);
}

.custom-file.form-control-outline {
	border: none;
}

.form-group-primary label {
	color: var(--primary-color);
}

.form-group-dark label {
	color: var(--dark-color);
}

.form-group-light label {
	color: var(--light-color);
}

.custom-control {
	min-height: 1.5rem;
}
.custom-control .custom-control-label{
	padding-left: calc(var(--input-font-size) + 9px);
}
.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: middle;
}

.custom-control-label::before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: calc(var(--input-font-size) + 4px);
	height: calc(var(--input-font-size) + 4px);
	pointer-events: none;
	content: "";
	background: rgb(255, 255, 255);
	border: #d3d3d3 solid var(--input-outline-width);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.custom-control-label::before, .custom-file-label, .custom-select {
	-webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: rgb(255, 255, 255);
	border: none;
	background: var(--primary);
}

.custom-checkbox .custom-control-label::before {
	border-radius: var(--input-border-radius);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	display: block;
}

.custom-control-label::after {
	position: absolute;
	top: 50%;
	left: 4px;
	width: calc(var(--input-font-size) - 5px);
	height: calc(calc(var(--input-font-size) - 4px) / 2);
	content: "";
	border: 2px solid white;
	border-top: 0;
	border-right: 0;
	-webkit-transform: translateY(-50%) rotate(
			-45deg
	);
	-ms-transform: translateY(-50%) rotate(-45deg);
	transform: translateY(calc(-50% - 1px)) rotate(
			-45deg
	);
	display: none;
}

.form {
	-moz-box-shadow: 0 6px 26px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 6px 26px rgba(0, 0, 0, 0.08);
	box-shadow: 0 6px 26px rgba(0, 0, 0, 0.08);
	padding: 50px 30px;
	border-radius: var(--input-border-radius);
}

.msg {
	position: absolute;
	background: white;
	padding: var(--input-padding);
	border-radius: var(--input-border-radius);
	top: 100%;
	right: 0;
	z-index: 9;
	margin-top: var(--input-margin);
	font-weight: 600;
	-moz-box-shadow: var(--input-box-shadow);
	-webkit-box-shadow: var(--input-box-shadow);
	box-shadow: var(--input-box-shadow);
	font-size: var(--input-font-size);
}

.msg:before {
	content: "";
	border-width: calc(var(--input-font-size) - 9px);
	border-style: solid;
	border-color: transparent transparent rgb(255, 255, 255) transparent;
	position: absolute;
	top: -9px;
	right: 16px;
}

.msg.success-field:before {
	border-color: transparent transparent var(--success) transparent;
}

.msg.error-field:before {
	border-color: transparent transparent var(--danger) transparent;
}

.success-field {
	background: var(--success);
	color: white;
}

.error-field {
	background: var(--danger);
	color: white;
}
.has-error .form-control {
	border-color: var(--danger);
}
.has-error label {
	color: var(--danger);
}
.has-error.form-floating label {
	color: rgb(117, 117, 117);
}
.has-error.form-cover {
	border-color: var(--danger);
}
.has-error.form-floating .form-control:focus~label, .has-error.form-floating .form-select~label,.has-error.form-floating .form-control:not(:placeholder-shown)~labelform-floating .form-control:focus~label, .has-error.form-floating .form-select~label{
	color: var(--danger);
}
.custom-radio .custom-control-label::before {
	--input-border-radius:50px;
	border-radius: var(--input-border-radius);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
	display: block;
	border-radius: 50px;
	border: calc(var(--input-font-size) / 4) solid white;
	width: 0;
	height: 0;
	top: 50%;
	left: calc(var(--input-font-size) / 2.65);
	background: white;
	transform: translateY(-50%);
}

.custom-range {
	width: 100%;
	height: calc(1rem + .4rem);
	padding: 0;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-range::-webkit-slider-thumb {
	width: var(--input-font-size);
	height: var(--input-font-size);
	margin-top: calc(var(--input-font-size) / -4);
	background: var(--primary);
	border: 0;
	border-radius: var(--input-border-radius);
	-webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	-webkit-appearance: none;
	appearance: none;
}

.custom-range:focus::-webkit-slider-thumb {
	-moz-box-shadow: var(--input-box-shadow);
	-webkit-box-shadow: var(--input-box-shadow);
	box-shadow: var(--input-box-shadow);
}

.custom-range::-webkit-slider-thumb {
	-moz-box-shadow: var(--input-box-shadow);
	-webkit-box-shadow: var(--input-box-shadow);
	box-shadow: var(--input-box-shadow);
}

.custom-range::-webkit-slider-runnable-track {
	width: 100%;
	height: calc(var(--input-font-size) / 2);
	color: transparent;
	cursor: pointer;
	background: #f3f3f3;
	border-radius: var(--input-border-radius);
	-moz-box-shadow: var(--input-box-shadow);
	-webkit-box-shadow: var(--input-box-shadow);
	box-shadow: var(--input-box-shadow);
}

.custom-switch {
	padding-left: 2.25rem;
}

.custom-switch .custom-control-label::before {
	left: -2.25rem;
	width: calc(var(--input-font-size) * 2);
	height: calc(var(--input-font-size) + 2px);
	pointer-events: all;
	border-radius: 50px;
}

.custom-switch .custom-control-label::after {
	top: 50%;
	left: calc(-2.25rem + 4px);
	width: calc(var(--input-font-size) - 4px);
	height: calc(var(--input-font-size) - 4px);
	background: #dcdcdc;
	border-radius: 50%;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
	-webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-transform .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-transform .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	-o-transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
	position: absolute;
	display: block;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background: rgb(255, 255, 255);
	-webkit-transform: translateX(calc(var(--input-font-size) - 2px)) translateY(-50%);
	-ms-transform: translateX(calc(var(--input-font-size) - 2px)) translateY(-50%);
	transform: translateX(calc(var(--input-font-size) - 2px)) translateY(-50%);
}

.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: calc(var(--input-margin) + 6px);
}

.custom-file-input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
}

.custom-file-label {
	z-index: 1;
	height: 100%;
	white-space: nowrap;
	width: 100%;
	padding: var(--input-padding);
	font-weight: 400;
	font-size: var(--input-font-size);
	line-height: 1.5;
	color: #495057;
	background: rgb(255, 255, 255);
	border: var(--input-outline-width) solid #ededed;
	border-radius: var(--input-border-radius);
	display: flex;
	align-items: center;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
	content: "+";
}
.custom-range.form-control-outline{
	border:none !important;
}
.form-control-outline.custom-range::-webkit-slider-runnable-track{
	border:  var(--input-outline-width) solid var(--primary-color);
	background: white;
}
.input-primary.custom-range::-webkit-slider-runnable-track{
	border-color:  var(--primary-color);
}
.input-dark.custom-range::-webkit-slider-runnable-track{
	border-color:   var(--dark-color);
}
.input-light.custom-range::-webkit-slider-runnable-track{
	border-color:  var(--light-color);
}

.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	padding: var(--input-padding);
	color: #495057;
	content: "+";
	background: #ededed;
	border-left: inherit;
	border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
	display: flex;
	align-items: center;
	font-size: calc(var(--input-font-size) + 9px);
	justify-content: center;
}

.custom-control-input:checked ~ .input-primary:before {
	background: var(--primary) !important;
	border: none !important;
	color: white !important;
}

.input-primary .custom-file-label::after {
	color: rgb(255, 255, 255);
	background: var(--primary) !important;
}

.input-primary::-webkit-slider-thumb {
	background: var(--primary) !important;
}


.form-control-outline .custom-control-input:checked ~ .input-primary:before {
	background: white !important;
	border: var(--input-outline-width) solid var(--primary-color) !important;
	color: var(--primary-color) !important;
}

.form-control-outline .custom-control-input:checked ~ .input-primary:after {
	border-color: var(--primary-color) !important;
}

.form-control-outline .input-primary .custom-file-label::after {
	color: var(--primary-color);
	background: white !important;
}

.form-control-outline .input-primary::-webkit-slider-thumb {
	background: white !important;
}


.form-control-outline .custom-control-input:checked ~ .input-dark:before {
	background: white !important;
	border: var(--input-outline-width) solid  var(--dark-color) !important;
	color: var(--dark-color) !important;
}

.form-control-outline .custom-control-input:checked ~ .input-dark:after {
	border-color: var(--dark-color) !important;
}

.form-control-outline .input-dark .custom-file-label::after {
	color: var(--dark-color);
	background: white !important;
}

.form-control-outline.custom-radio .custom-control-input:checked ~ .input-light:after {
	background: var(--light-color) !important;
}

.form-control-outline.custom-radio .custom-control-input:checked ~ .input-dark:after {
	background: var(--dark-color) !important;
}

.form-control-outline.custom-radio .custom-control-input:checked ~ .input-primary:after {
	background: var(--primary-color) !important;
}


.form-control-outline .input-dark::-webkit-slider-thumb {
	background: white !important;
}

.form-control-outline.custom-switch .custom-control-input:checked ~ .input-dark:after {
	background: var(--dark) !important;
	border-color: white !important;
}

.form-control-outline.custom-switch .custom-control-input:checked ~ .input-light:after {
	background: var(--light-color) !important;
	border-color: white !important;
}

.form-control-outline.custom-switch .custom-control-input:checked ~ .input-primary:after {
	border-color: white !important;
	background: var(--primary-color) !important;
}


.form-control-outline .custom-control-input:checked ~ .input-light:before {
	background: var(--dark-color) !important;
	border: var(--input-outline-width) solid  var(--light-color) !important;
	color: var(--light-color) !important;
}

.form-control-outline .custom-control-input:checked ~ .input-light:after {
	border-color: var(--light-color) !important;
}

.form-control-outline .input-light .custom-file-label::after {
	color: var(--light-color);
	background: white !important;
}

.form-control-outline .input-light::-webkit-slider-thumb {
	background: white !important;
}

.custom-control-input:checked ~ .input-light:before {
	background: var(--light) !important;
	border: none !important;
}

.input-light .custom-file-label::after {
	color: var(--dark-color);
	background: var(--light) !important;
}

.input-light::-webkit-slider-thumb {
	background: var(--light) !important;
}

.custom-control-input:checked ~ .input-light::after {
	border-color: var(--dark-color) !important;
}

.custom-switch .custom-control-input:checked ~ .input-light::after {
	background: var(--dark) !important;
}

.custom-control-input:checked ~ .input-dark:before {
	background: var(--dark) !important;
	border: none !important;
	color: white !important;
}

.input-dark .custom-file-label::after {
	color: rgb(255, 255, 255);
	background: var(--dark) !important;
}

.input-dark::-webkit-slider-thumb {
	background: var(--dark) !important;
}
.form-file-group {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.form-file-control input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.form-file-control {
	border: var(--input-outline-width) dashed #dcdcdc;
	border-radius:  var(--input-border-radius);
	width: calc(var(--input-font-size) * 8);
	height: calc(var(--input-font-size) * 8);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: var(--input-margin);
}
.form-file-control:before {
	content: "+";
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--input-font-size) + 14px);;
	height: calc(var(--input-font-size) + 14px);;
	background: #dcdcdc;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	font-size: calc(var(--input-font-size) + 4px);
	font-weight: 600;
	transform: translate(-50%,-50%);
}
.input-primary.form-file-control:before{
	background: var(--primary);
	color: white;
}
.input-dark.form-file-control:before{
	background: var(--dark);
	color: white;
}
.input-light.form-file-control:before{
	background: var(--light);
}
.form-file-group img {
	width: calc(var(--input-font-size) * 8);
	height: calc(var(--input-font-size) * 8);
	object-fit: cover;
	border-radius: var(--input-border-radius);
	margin-right:  var(--input-margin);
	margin-bottom:  var(--input-margin) !important;
	box-shadow:  var(--input-box-shadow);
}
@media screen and (max-width: 500px) {
	.form {
		padding: 30px 15px;
	}

	.form-group label {
		font-size: 14px;
	}
}
