.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-input {
    width: 100%;
    border: 1px solid #ededed;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
}
.form-input:focus{
    -moz-box-shadow: 0px 1px 13px rgba(0 ,0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 13px rgba(0 ,0, 0, 0.1);
    box-shadow: 0px 1px 13px rgba(0 ,0, 0, 0.1);
}
select.form-input {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: rgb(255,255,255);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
}

.form-group, .custom-control {
    margin-bottom: 16px;
    position: relative;
}

.custom-control {
    min-height: 1.5rem;
    padding-left: 25px;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
}

.custom-control-label::before {
    position: absolute;
    top: 50%;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: rgb(255,255,255);
    border: #d3d3d3 solid 1px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-control-label::before, .custom-file-label, .custom-select {
    -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: rgb(255,255,255);
    border-color: var(--primary);
    background-color: var(--primary);
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    display: block;
}

.custom-control-label::after {
    position: absolute;
    top: 49%;
    left: -21px;
    width: 10px;
    height: 5px;
    content: "";
    border: 2px solid white;
    border-top: 0;
    border-right: 0;
    -webkit-transform: translateY(-50%) rotate(
            -45deg
    );
    -ms-transform: translateY(-50%) rotate(
            -45deg
    );
    transform: translateY(-50%) rotate(
            -45deg
    );
    display: none;
}

.form {
    -moz-box-shadow: 0 6px 26px rgba(0 ,0, 0 ,0.08);
    -webkit-box-shadow: 0 6px 26px rgba(0 ,0, 0 ,0.08);
    box-shadow: 0 6px 26px rgba(0 ,0, 0 ,0.08);
    padding: 50px 30px;
    border-radius: 10px;
}

.msg {
    position: absolute;
    background: white;
    padding: 8px 15px;
    border-radius: 8px;
    top: 100%;
    right: 0;
    z-index: 9;
    margin-top: 8px;
    font-weight: 600;
    -moz-box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
}

.msg:before {
    content: "";
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent rgb(255,255,255) transparent;
    position: absolute;
    top: -14px;
    right: 16px;
}

.msg.success-field:before {
    border-color: transparent transparent var(--success) transparent;
}

.msg.error-field:before {
    border-color: transparent transparent var(--danger) transparent;
}

.success-field {
    background-color: var(--success);
    color: white;
}

.error-field {
    background-color: var(--danger);
    color: white;
}
.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    display: block;
    border-radius: 50px;
    border: 4px solid white;
    width: 0;
    height: 0;
    top: 50%;
    left: -20px;
    background: inherit;
}
.custom-range {
    width: 100%;
    height: calc(1rem + .4rem);
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    background-color: var(--primary);
    border: 0;
    border-radius: 1rem;
    -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}
.custom-range:focus::-webkit-slider-thumb {
    -moz-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem rgb(230 230 230);
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem rgb(230 230 230);
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem rgb(230 230 230);
}

.custom-range::-webkit-slider-thumb {
    -moz-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem rgb(230 230 230);
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem rgb(230 230 230);
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem rgb(230 230 230);
}
.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    color: transparent;
    cursor: pointer;
    background-color: #f3f3f3;
    border-color: transparent;
    border-radius: 1rem;
    -moz-box-shadow: 0 6px 26px rgba(0, 0, 0,0.08);
    -webkit-box-shadow: 0 6px 26px rgba(0, 0, 0,0.08);
    box-shadow: 0 6px 26px rgba(0, 0, 0,0.08);
}
.custom-switch {
    padding-left: 2.25rem;
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: .5rem;
}

.custom-switch .custom-control-label::after {
    top: 50%;
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    background-color: #dcdcdc;
    border-radius: .5rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-transform .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-transform .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: rgb(255,255,255);
    -webkit-transform: translateX(.75rem) translateY(-50%);
    -ms-transform: translateX(.75rem) translateY(-50%);
    transform: translateX(.75rem) translateY(-50%);
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 16px;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(255,255,255);
    border: 1px solid #ededed;
    border-radius: .25rem;
}
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #ededed;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.custom-control-input:checked ~ .input-primary:before {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: white !important;
}

.input-primary .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--primary) !important;
}

.input-primary::-webkit-slider-thumb {
    background-color: var(--primary) !important;
}

.custom-control-input:checked ~ .input-secondary:before {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: white !important;
}

.input-secondary .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--secondary) !important;
}

.input-secondary::-webkit-slider-thumb {
    background-color: var(--secondary) !important;
}


.custom-control-input:checked ~ .input-success:before {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
    color: white !important;
}

.input-success .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--success) !important;
}

.input-success::-webkit-slider-thumb {
    background-color: var(--success) !important;
}

.custom-control-input:checked ~ .input-danger:before {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
    color: white !important;
}

.input-danger .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--danger) !important;
}

.input-danger::-webkit-slider-thumb {
    background-color: var(--danger) !important;
}

.custom-control-input:checked ~ .input-info:before {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
    color: white !important;
}

.input-info .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--info) !important;
}

.input-info::-webkit-slider-thumb {
    background-color: var(--info) !important;
}

.custom-control-input:checked ~ .input-warning:before {
    background-color: var(--warning) !important;
    border-color: var(--warning) !important;
    color: white !important;
}

.input-warning .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--warning) !important;
}

.input-warning::-webkit-slider-thumb {
    background-color: var(--warning) !important;
}


.custom-control-input:checked ~ .input-light:before {
    background-color: var(--light) !important;
    border-color: #d3d3d3 !important;
}

.input-light .custom-file-label::after {
    color: var(--dark);
    background-color: var(--light) !important;
}

.input-light::-webkit-slider-thumb {
    background-color: var(--light) !important;
}

.custom-control-input:checked ~ .input-light::after {
    border-color: var(--dark) !important;
}

.custom-switch .custom-control-input:checked ~ .input-light::after {
    background: var(--dark) !important;
}

.custom-control-input:checked ~ .input-dark:before {
    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
    color: white !important;
}

.input-dark .custom-file-label::after {
    color: rgb(255,255,255);
    background-color: var(--dark) !important;
}

.input-dark::-webkit-slider-thumb {
    background-color: var(--dark) !important;
}
.custom-control-input:checked ~ .input-primary-alt:before {
    background-color: var(--primary-alt) !important;
    border-color: var(--primary-alt) !important;
    color: var(--primary-alt-text) !important;
}

.input-primary-alt .custom-file-label::after {
    color: var(--primary-alt-text);
    background-color: var(--primary-alt) !important;
}

.input-primary-alt::-webkit-slider-thumb {
    background-color: var(--primary-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-primary-alt::after {
    background: var(--primary-alt-text) !important;
}

.custom-control-input:checked ~ .input-primary-alt::after {
    border-color: var(--primary-alt-text) !important;
}
.custom-control-input:checked ~ .input-secondary-alt:before {
    background-color: var(--secondary-alt) !important;
    border-color: var(--secondary-alt) !important;
    color: var(--secondary-alt-text) !important;
}

.input-secondary-alt .custom-file-label::after {
    color: var(--secondary-alt-text);
    background-color: var(--secondary-alt) !important;
}

.input-secondary-alt::-webkit-slider-thumb {
    background-color: var(--secondary-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-secondary-alt::after {
    background: var(--secondary-alt-text) !important;
}

.custom-control-input:checked ~ .input-secondary-alt::after {
    border-color: var(--secondary-alt-text) !important;
}
.custom-control-input:checked ~ .input-success-alt:before {
    background-color: var(--success-alt) !important;
    border-color: var(--success-alt) !important;
    color: var(--success-alt-text) !important;
}

.input-success-alt .custom-file-label::after {
    color: var(--success-alt-text);
    background-color: var(--success-alt) !important;
}

.input-success-alt::-webkit-slider-thumb {
    background-color: var(--success-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-success-alt::after {
    background: var(--success-alt-text) !important;
}

.custom-control-input:checked ~ .input-success-alt::after {
    border-color: var(--success-alt-text) !important;
}

.custom-control-input:checked ~ .input-danger-alt:before {
    background-color: var(--danger-alt) !important;
    border-color: var(--danger-alt) !important;
    color: var(--danger-alt-text) !important;
}

.input-danger-alt .custom-file-label::after {
    color: var(--danger-alt-text);
    background-color: var(--danger-alt) !important;
}

.input-danger-alt::-webkit-slider-thumb {
    background-color: var(--danger-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-danger-alt::after {
    background: var(--danger-alt-text) !important;
}

.custom-control-input:checked ~ .input-danger-alt::after {
    border-color: var(--danger-alt-text) !important;
}

.custom-control-input:checked ~ .input-info-alt:before {
    background-color: var(--info-alt) !important;
    border-color: gainsboro !important;
    color: var(--info-alt-text) !important;
}

.input-info-alt .custom-file-label::after {
    color: var(--info-alt-text);
    background-color: var(--info-alt) !important;
}

.input-info-alt::-webkit-slider-thumb {
    background-color: var(--info-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-info-alt::after {
    background: var(--info-alt-text) !important;
}

.custom-control-input:checked ~ .input-info-alt::after {
    border-color: var(--info-alt-text) !important;
}

.custom-control-input:checked ~ .input-warning-alt:before {
    background-color: var(--warning-alt) !important;
    border-color: var(--warning-alt) !important;
    color: var(--warning-alt-text) !important;
}

.input-warning-alt .custom-file-label::after {
    color: var(--warning-alt-text);
    background-color: var(--warning-alt) !important;
}

.input-warning-alt::-webkit-slider-thumb {
    background-color: var(--warning-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-warning-alt::after {
    background: var(--warning-alt-text) !important;
}

.custom-control-input:checked ~ .input-warning-alt::after {
    border-color: var(--warning-alt-text) !important;
}

.custom-control-input:checked ~ .input-light-alt:before {
    background-color: var(--light-alt) !important;
    border-color: gainsboro !important;
    color: var(--light-alt-text) !important;
}

.input-light-alt .custom-file-label::after {
    color: var(--light-alt-text);
    background-color: var(--light-alt) !important;
}

.input-light-alt::-webkit-slider-thumb {
    background-color: var(--light-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-light-alt::after {
    background: var(--light-alt-text) !important;
}

.custom-control-input:checked ~ .input-light-alt::after {
    border-color: var(--light-alt-text) !important;
}

.custom-control-input:checked ~ .input-dark-alt:before {
    background-color: var(--dark-alt) !important;
    border-color: var(--dark-alt) !important;
    color: var(--dark-alt-text) !important;
}

.input-dark-alt .custom-file-label::after {
    color: var(--dark-alt-text);
    background-color: var(--dark-alt) !important;
}

.input-dark-alt::-webkit-slider-thumb {
    background-color: var(--dark-alt) !important;
}

.custom-switch .custom-control-input:checked ~ .input-dark-alt::after {
    background: var(--dark-alt-text) !important;
}

.custom-control-input:checked ~ .input-dark-alt::after {
    border-color: var(--dark-alt-text) !important;
}

.custom-control-input:checked ~ .input-primary-alt-light:before {
    background-color: var(--primary-alt-light) !important;
    border-color: var(--primary-alt) !important;
    color: var(--primary-alt) !important;
}
.custom-control-input:checked ~ .input-primary-alt-light:after {
    border-color: var(--primary-alt) !important;
}

.input-primary-alt-light .custom-file-label::after {
    color: var(--primary-alt) !important;
    background-color: var(--primary-alt) !important;
}

.input-primary-alt-light::-webkit-slider-thumb {
    background-color: var(--primary-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-primary-alt-light::after{
    background-color: var(--primary-alt) !important;
}

.custom-control-input:checked ~ .input-success-alt-light:before {
    background-color: var(--success-alt-light) !important;
    border-color: var(--success-alt) !important;
    color: var(--success-alt) !important;
}
.custom-control-input:checked ~ .input-success-alt-light:after {
    border-color: var(--success-alt) !important;
}

.input-success-alt-light .custom-file-label::after {
    color: var(--success-alt) !important;
    background-color: var(--success-alt) !important;
}

.input-success-alt-light::-webkit-slider-thumb {
    background-color: var(--success-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-success-alt-light::after{
    background-color: var(--success-alt) !important;
}
.custom-control-input:checked ~ .input-secondary-alt-light:before {
    background-color: var(--secondary-alt-light) !important;
    border-color: var(--secondary-alt-light-border) !important;
    color: #606060 !important;
}
.custom-control-input:checked ~ .input-secondary-alt-light:after {
    border-color: #606060  !important;
}

.input-secondary-alt-light .custom-file-label::after {
    color: var(--secondary-alt) !important;
    background-color: #606060 !important;
}

.input-secondary-alt-light::-webkit-slider-thumb {
    background-color: var(--secondary-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-secondary-alt-light::after{
    background-color: #606060 !important;
}
.custom-control-input:checked ~ .input-info-alt-light:before {
    background-color: var(--info-alt-light) !important;
    border-color: var(--info-alt) !important;
    color: var(--info-alt) !important;
}
.custom-control-input:checked ~ .input-info-alt-light:after {
    border-color: var(--info-alt) !important;
}

.input-info-alt-light .custom-file-label::after {
    color: var(--info-alt) !important;
    background-color: var(--info-alt) !important;
}

.input-info-alt-light::-webkit-slider-thumb {
    background-color: var(--info-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-info-alt-light::after{
    background-color: var(--info-alt) !important;
}
.custom-control-input:checked ~ .input-danger-alt-light:before {
    background-color: var(--danger-alt-light) !important;
    border-color: var(--danger-alt) !important;
    color: var(--danger-alt) !important;
}
.custom-control-input:checked ~ .input-danger-alt-light:after {
    border-color: var(--danger-alt) !important;
}

.input-danger-alt-light .custom-file-label::after {
    color: var(--danger-alt) !important;
    background-color: var(--danger-alt) !important;
}

.input-danger-alt-light::-webkit-slider-thumb {
    background-color: var(--danger-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-danger-alt-light::after{
    background-color: var(--danger-alt) !important;
}
.custom-control-input:checked ~ .input-warning-alt-light:before {
    background-color: var(--warning-alt-light) !important;
    border-color: var(--warning-alt) !important;
    color: var(--warning-alt) !important;
}
.custom-control-input:checked ~ .input-warning-alt-light:after {
    border-color: var(--warning-alt) !important;
}

.input-warning-alt-light .custom-file-label::after {
    color: var(--warning-alt) !important;
    background-color: var(--warning-alt) !important;
}

.input-warning-alt-light::-webkit-slider-thumb {
    background-color: var(--warning-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-warning-alt-light::after{
    background-color: var(--warning-alt) !important;
}
.custom-control-input:checked ~ .input-dark-alt-light:before {
    background-color: white !important;
    border-color: var(--dark-alt) !important;
    color: var(--dark-alt) !important;
}
.custom-control-input:checked ~ .input-dark-alt-light:after {
    border-color: var(--dark-alt) !important;
}

.input-dark-alt-light .custom-file-label::after {
    color: var(--dark-alt) !important;
    background-color: var(--dark-alt) !important;
}

.input-dark-alt-light::-webkit-slider-thumb {
    background-color: var(--dark-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-dark-alt-light::after{
    background-color: var(--dark-alt) !important;
}
.custom-control-input:checked ~ .input-light-alt-light:before {
    background-color: var(--dark-alt) !important;
    border-color: var(--light-alt) !important;
    color: var(--light-alt) !important;
}
.custom-control-input:checked ~ .input-light-alt-light:after {
    border-color: var(--light-alt) !important;
}

.input-light-alt-light .custom-file-label::after {
    color: var(--light-alt) !important;
    background-color: var(--light-alt) !important;
}

.input-light-alt-light::-webkit-slider-thumb {
    background-color: var(--light-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-light-alt-light::after{
    background-color: var(--light-alt) !important;
}

.custom-control-input:checked ~ .input-primary-light:before {
    background-color: var(--primary-light) !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary-light-border) !important;
}

.input-primary-light .custom-file-label::after {
    color: var(--primary);
    background-color: var(--primary-light-border) !important;
}

.input-primary-light::-webkit-slider-thumb {
    background-color: var(--primary-light) !important;
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--primary) !important;
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--primary) !important;
}

.custom-switch .custom-control-input:checked ~ .input-primary-light::after {
    background: var(--primary) !important;
}

.custom-control-input:checked ~ .input-primary-light::after {
    border-color: var(--primary) !important;
}
.custom-control-input:checked ~ .input-secondary-light:before {
    background-color: var(--secondary-light) !important;
    color: var(--secondary) !important;
    border: 1px solid var(--secondary-light-border) !important;
}

.input-secondary-light .custom-file-label::after {
    color: var(--secondary);
    background-color: var(--secondary-light-border) !important;
}

.input-secondary-light::-webkit-slider-thumb {
    background-color: var(--secondary-light) !important;
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--secondary) !important;
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--secondary) !important;
}

.custom-switch .custom-control-input:checked ~ .input-secondary-light::after {
    background: var(--secondary) !important;
}

.custom-control-input:checked ~ .input-secondary-light::after {
    border-color: var(--secondary) !important;
}

.custom-control-input:checked ~ .input-success-light:before {
    background-color: var(--success-light) !important;
    color: var(--success) !important;
    border: 1px solid var(--success-light-border) !important;
}

.input-success-light .custom-file-label::after {
    color: var(--success);
    background-color: var(--success-light) !important;
}

.custom-switch .custom-control-input:checked ~ .input-success-light::after {

    background: var(--success) !important;
}

.input-success-light::-webkit-slider-thumb {
    background-color: var(--success-light) !important;
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--success) !important;
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--success) !important;
}

.custom-control-input:checked ~ .input-success-light::after {
    border-color: var(--success) !important;
}

.custom-control-input:checked ~ .input-danger-light:before {
    background-color: var(--danger-light) !important;
    color: var(--danger) !important;
    border: 1px solid var(--danger-light-border) !important;
}

.input-danger-light .custom-file-label::after {
    color: var(--danger);
    background-color: var(--danger-light) !important;
}

.input-danger-light::-webkit-slider-thumb {
    background-color: var(--danger-light) !important;
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--danger) !important;
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--danger) !important;
}

.custom-switch .custom-control-input:checked ~ .input-danger-light::after {
    background: var(--danger) !important;
}

.custom-control-input:checked ~ .input-danger-light::after {
    border-color: var(--danger) !important;
}

.custom-control-input:checked ~ .input-info-light:before {
    background-color: var(--info-light) !important;
    color: var(--info) !important;
    border: 1px solid var(--info-light-border) !important;
}

.input-info-light .custom-file-label::after {
    color: var(--info);
    background-color: var(--info-light-border) !important;
}

.input-info-light::-webkit-slider-thumb {
    background-color: var(--info-light) !important;
    -webkit-box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--info) !important;
    box-shadow: 0 0 0 1px rgb(255,255,255), 0 0 0 0.2rem var(--info) !important;
}

.custom-switch .custom-control-input:checked ~ .input-info-light::after {
    background: var(--info) !important;
}

.custom-control-input:checked ~ .input-info-light::after {
    border-color: var(--info) !important;
}


.custom-control-input:checked ~ .input-warning-light:before {
    background-color: var(--warning-light) !important;
    color: var(--warning) !important;
    border: 1px solid var(--warning-light-border) !important;
}

.input-warning-light .custom-file-label::after {
    color: var(--warning);
    background-color: var(--warning-light) !important;
}

.input-warning-light::-webkit-slider-thumb {
    background-color: var(--warning-light) !important;
    -moz-box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 0.2rem var(--warning) !important;
    -webkit-box-shadow: 0 0 0 1px  rgb(255, 255, 255), 0 0 0 0.2rem var(--warning) !important;
    box-shadow: 0 0 0 1px  rgb(255, 255, 255), 0 0 0 0.2rem var(--warning) !important;
}

.custom-switch .custom-control-input:checked ~ .input-warning-light::after {
    background: var(--warning) !important;
}

.custom-control-input:checked ~ .input-warning-light::after {
    border-color: var(--warning) !important;
}
.custom-control-input:checked ~ .input-primary-invert:before {
    color: var(--primary) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-primary-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--primary) !important;
}
.custom-control-input:checked~.input-primary-invert::after{
    border-color: var(--primary) !important;
}
.input-primary-invert::-webkit-slider-thumb {
    color: var(--primary) !important;
}
.custom-switch .custom-control-input:checked ~ .input-primary-invert::after{
    background-color:var(--primary) !important;
}
.custom-control-input:checked ~ .input-secondary-invert:before {
    color: var(--secondary) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-secondary-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--secondary) !important;
}
.custom-control-input:checked~.input-secondary-invert::after{
    border-color: var(--secondary) !important;
}
.input-secondary-invert::-webkit-slider-thumb {
    color: var(--secondary) !important;
}
.custom-switch .custom-control-input:checked ~ .input-secondary-invert::after{
    background-color:var(--secondary) !important;
}
.custom-control-input:checked ~ .input-info-invert:before {
    color: var(--info) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-info-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--info) !important;
}
.custom-control-input:checked~.input-info-invert::after{
    border-color: var(--info) !important;
}
.input-info-invert::-webkit-slider-thumb {
    color: var(--info) !important;
}
.custom-switch .custom-control-input:checked ~ .input-info-invert::after{
    background-color:var(--info) !important;
}
.custom-control-input:checked ~ .input-danger-invert:before {
    color: var(--danger) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-danger-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--danger) !important;
}
.custom-control-input:checked~.input-danger-invert::after{
    border-color: var(--danger) !important;
}
.input-danger-invert::-webkit-slider-thumb {
    color: var(--danger) !important;
}
.custom-switch .custom-control-input:checked ~ .input-danger-invert::after{
    background-color:var(--danger) !important;
}
.custom-control-input:checked ~ .input-warning-invert:before {
    color: var(--warning) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-warning-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--warning) !important;
}
.custom-control-input:checked~.input-warning-invert::after{
    border-color: var(--warning) !important;
}
.input-warning-invert::-webkit-slider-thumb {
    color: var(--warning) !important;
}
.custom-switch .custom-control-input:checked ~ .input-warning-invert::after{
    background-color:var(--warning) !important;
}
.custom-control-input:checked ~ .input-success-invert:before {
    color: var(--success) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-success-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--success) !important;
}
.custom-control-input:checked~.input-success-invert::after{
    border-color: var(--success) !important;
}
.input-success-invert::-webkit-slider-thumb {
    color: var(--success) !important;
}
.custom-switch .custom-control-input:checked ~ .input-success-invert::after{
    background-color:var(--success) !important;
}
.custom-control-input:checked ~ .input-light-invert:before {
    color: var(--dark-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-light-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--dark-alt) !important;
}
.custom-control-input:checked~.input-light-invert::after{
    border-color: var(--dark-alt) !important;
}
.input-light-invert::-webkit-slider-thumb {
    color: var(--dark-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-light-invert::after{
    background-color:var(--dark-alt) !important;
}
.custom-control-input:checked ~ .input-dark-invert:before {
    color: var(--dark) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-dark-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--dark) !important;
}
.custom-control-input:checked~.input-dark-invert::after{
    border-color: var(--dark) !important;
}
.input-dark-invert::-webkit-slider-thumb {
    color: var(--dark) !important;
}
.custom-switch .custom-control-input:checked ~ .input-dark-invert::after{
    background-color:var(--dark) !important;
}
.custom-control-input:checked ~ .input-primary-alt-invert.input-light-text:before {
    color: var(--primary-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-primary-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--primary-alt) !important;
}
.custom-control-input:checked~.input-primary-alt-invert.input-light-text::after{
    border-color: var(--primary-alt) !important;
}
.input-primary-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--primary-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-primary-alt-invert.input-light-text::after{
    background-color:var(--primary-alt) !important;
}
.custom-control-input:checked ~ .input-secondary-alt-invert.input-light-text:before {
    color: var(--secondary-alt-text) !important;
    border-color: var(--secondary-alt) !important;
    background-color: white !important;
}

.input-secondary-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--secondary-alt) !important;
}
.custom-control-input:checked~.input-secondary-alt-invert.input-light-text::after{
    border-color: var(--secondary-alt-text) !important;
}
.input-secondary-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--secondary-alt-text) !important;
}
.custom-switch .custom-control-input:checked ~ .input-secondary-alt-invert.input-light-text::after{
    background-color:var(--secondary-alt-text) !important;
}
.custom-control-input:checked ~ .input-success-alt-invert.input-light-text:before {
    color: var(--success-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-success-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--success-alt) !important;
}
.custom-control-input:checked~.input-success-alt-invert.input-light-text::after{
    border-color: var(--success-alt) !important;
}
.input-success-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--success-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-success-alt-invert.input-light-text::after{
    background-color:var(--success-alt) !important;
}
.custom-control-input:checked ~ .input-info-alt-invert.input-light-text:before {
    color: var(--info-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-info-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--info-alt) !important;
}
.custom-control-input:checked~.input-info-alt-invert.input-light-text::after{
    border-color: var(--info-alt) !important;
}
.input-info-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--info-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-info-alt-invert.input-light-text::after{
    background-color:var(--info-alt) !important;
}
.custom-control-input:checked ~ .input-danger-alt-invert.input-light-text:before {
    color: var(--danger-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-danger-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--danger-alt) !important;
}
.custom-control-input:checked~.input-danger-alt-invert.input-light-text::after{
    border-color: var(--danger-alt) !important;
}
.input-danger-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--danger-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-danger-alt-invert.input-light-text::after{
    background-color:var(--danger-alt) !important;
}
.custom-control-input:checked ~ .input-warning-alt-invert.input-light-text:before {
    color: var(--warning-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-warning-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--warning-alt) !important;
}
.custom-control-input:checked~.input-warning-alt-invert.input-light-text::after{
    border-color: var(--warning-alt) !important;
}
.input-warning-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--warning-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-warning-alt-invert.input-light-text::after{
    background-color:var(--warning-alt) !important;
}
.custom-control-input:checked ~ .input-light-alt-invert.input-light-text:before {
    color: var(--light-alt-text) !important;
    border-color: var(--light-alt) !important;
    background-color: var(--light-alt) !important;
}

.input-light-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--light-alt-text) !important;
}
.custom-control-input:checked~.input-light-alt-invert.input-light-text::after{
    border-color: var(--light-alt-text) !important;
}
.input-light-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--light-alt-text) !important;
}
.custom-switch .custom-control-input:checked ~ .input-light-alt-invert.input-light-text::after{
    background-color:var(--light-alt-text) !important;
}
.custom-control-input:checked ~ .input-dark-alt-invert.input-light-text:before {
    color: var(--dark-alt) !important;
    border-color: gainsboro !important;
    background-color: white !important;
}

.input-dark-alt-invert.input-light-text .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--dark-alt) !important;
}
.custom-control-input:checked~.input-dark-alt-invert.input-light-text::after{
    border-color: var(--dark-alt) !important;
}
.input-dark-alt-invert.input-light-text::-webkit-slider-thumb {
    color: var(--dark-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-dark-alt-invert.input-light-text::after{
    background-color:var(--dark-alt) !important;
}
.custom-control-input:checked ~ .input-primary-alt-invert:before {
    color: var(--primary-alt) !important;
    border-color: var(--primary-alt) !important;
    background-color: var(--primary-alt-text) !important;
}

.input-primary-alt-invert .custom-file-label::after {
    background-color: var(--primary-alt-text);
    color: var(--primary-alt) !important;
}
.custom-control-input:checked~.input-primary-alt-invert::after{
    border-color: var(--primary-alt) !important;
}
.input-primary-alt-invert::-webkit-slider-thumb {
    color: var(--primary-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-primary-alt-invert::after{
    background-color:var(--primary-alt) !important;
}
.custom-control-input:checked ~ .input-secondary-alt-invert:before {
    color: var(--secondary-alt) !important;
    border-color: var(--secondary-alt) !important;
    background-color: var(--secondary-alt-text) !important;
}

.input-secondary-alt-invert .custom-file-label::after {
    background-color: var(--secondary-alt-text);
    color: var(--secondary-alt) !important;
}
.custom-control-input:checked~.input-secondary-alt-invert::after{
    border-color: var(--secondary-alt) !important;
}
.input-secondary-alt-invert::-webkit-slider-thumb {
    color: var(--secondary-alt-text) !important;
}
.custom-switch .custom-control-input:checked ~ .input-secondary-alt-invert::after{
    background-color:var(--secondary-alt) !important;
}
.custom-control-input:checked ~ .input-success-alt-invert:before {
    color: var(--success-alt) !important;
    border-color: var(--success-alt) !important;
    background-color: var(--success-alt-text) !important;
}

.input-success-alt-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--success-alt) !important;
}
.custom-control-input:checked~.input-success-alt-invert::after{
    border-color: var(--success-alt) !important;
}
.input-success-alt-invert::-webkit-slider-thumb {
    color: var(--success-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-success-alt-invert::after{
    background-color:var(--success-alt) !important;
}
.custom-control-input:checked ~ .input-info-alt-invert:before {
    color: var(--info-alt) !important;
    border-color: var(--info-alt) !important;
    background-color: var(--info-alt-text) !important;
}

.input-info-alt-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--info-alt) !important;
}
.custom-control-input:checked~.input-info-alt-invert::after{
    border-color: var(--info-alt) !important;
}
.input-info-alt-invert::-webkit-slider-thumb {
    color: var(--info-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-info-alt-invert::after{
    background-color:var(--info-alt) !important;
}
.custom-control-input:checked ~ .input-danger-alt-invert:before {
    color: var(--danger-alt) !important;
    border-color: var(--danger-alt)  !important;
    background-color: var(--danger-alt-text)  !important;
}

.input-danger-alt-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--danger-alt) !important;
}
.custom-control-input:checked~.input-danger-alt-invert::after{
    border-color: var(--danger-alt) !important;
}
.input-danger-alt-invert::-webkit-slider-thumb {
    color: var(--danger-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-danger-alt-invert::after{
    background-color:var(--danger-alt) !important;
}
.custom-control-input:checked ~ .input-warning-alt-invert:before {
    color: var(--warning-alt) !important;
    border-color: var(--warning-alt) !important;
    background-color: var(--warning-alt-text) !important;
}

.input-warning-alt-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--warning-alt) !important;
}
.custom-control-input:checked~.input-warning-alt-invert::after{
    border-color: var(--warning-alt) !important;
}
.input-warning-alt-invert::-webkit-slider-thumb {
    color: var(--warning-alt) !important;
}
.custom-switch .custom-control-input:checked ~ .input-warning-alt-invert::after{
    background-color:var(--warning-alt) !important;
}
.custom-control-input:checked ~ .input-light-alt-invert:before {
    color: var(--light-alt-text) !important;
    border-color: var(--light-alt-text) !important;
    background-color: var(--light-alt) !important;
}

.input-light-alt-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--light-alt-text) !important;
}
.custom-control-input:checked~.input-light-alt-invert::after{
    border-color: var(--light-alt-text) !important;
}
.input-light-alt-invert::-webkit-slider-thumb {
    color: var(--light-alt-text) !important;
}
.custom-switch .custom-control-input:checked ~ .input-light-alt-invert::after{
    background-color:var(--light-alt-text) !important;
}
.custom-control-input:checked ~ .input-dark-alt-invert:before {
    color: var(--dark-alt-text) !important;
    border-color: var(--dark-alt-text) !important;
    background-color: var(--dark-alt) !important;
}

.input-dark-alt-invert .custom-file-label::after {
    background-color: rgb(255,255,255);
    color: var(--dark-alt-text) !important;
}
.custom-control-input:checked~.input-dark-alt-invert::after{
    border-color: var(--dark-alt-text) !important;
}
.input-dark-alt-invert::-webkit-slider-thumb {
    color: var(--dark-alt-text) !important;
}
.custom-switch .custom-control-input:checked ~ .input-dark-alt-invert::after{
    background-color:var(--dark-alt-text) !important;
}
@media screen and (max-width: 500px) {
    .form {
        padding: 30px 15px;
    }
    .form-group label {
        font-size: 14px;
    }
}