:root {
	--tabs-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	--tabs-box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
	--tabs-border-radius: 5px;
	--tabs-padding: 10px 20px;
	--tab-wrap-padding: 10px;
	--tabs-font-size: 16px;
	--tabs-margin: 20px;
	--tabs-outline-width: 1px;
	--tabs-cursor: pointer;
}

.tab-wrap{
    -moz-box-shadow: var(--btn-box-shadow);
    -webkit-box-shadow:var(--btn-box-shadow);
    box-shadow: var(--btn-box-shadow);
    padding: var(--tab-wrap-padding);
    border-radius: var(--tabs-border-radius);
}
.nav-tabs {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    border-bottom: var(--tabs-outline-width) solid #eeeeee;
}
.tab-pane {
    padding: 0;
	margin:var(--tabs-margin) 0;
    display: none;
    line-height: 1.5;
}
.tab-pane *:last-child{
    margin-bottom: 0;
}
.tab-open{
    display: block;
}
.tab-content {
    padding:  var(--tabs-padding);
    background: #f5f5f5;
    border-radius: 0 var(--tabs-border-radius) var(--tabs-border-radius) var(--tabs-border-radius);
    border: 1px solid #eeeeee;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #eeeeee #eeeeee #eeeeee;
    background: whitesmoke;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.active a.nav-link{
	background: var(--primary);
	color:white !important;
	border-radius: var(--tabs-border-radius) var(--tabs-border-radius) 0 0;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;

}
.nav-tabs .nav-link {
    padding:  var(--tabs-padding);
    display: block;
    border: none;
    border-top-right-radius: var(--tabs-border-radius);
    color: var(--dark);
	font-size: var(--tabs-font-size);
}
.nav-tabs.nav-separate {
    border-bottom: 1px solid #eee;
    margin-bottom: var(--tabs-margin);
}
.nav-tabs.nav-separate ~  .tab-content{
    border-radius: var(--tabs-border-radius)!important;
}

.nav-tab-rounded ,.nav-tab-rounded ~ .tab-content{
	--tabs-border-radius: 10px;
}
.nav-tab-pill{
	--tabs-border-radius: 50px;
}
.nav-tab-pill ~ .tab-content{
	--tabs-border-radius: 20px;
}

.nav-tab-no-radius,.nav-tab-no-radius ~ .tab-content {
	--tabs-border-radius: 0px;
}


/*Sizing*/
.nav-large,.nav-large ~ .tab-content {
	--tabs-padding: 12px 25px;
	--tab-wrap-padding: 15px;
	--tabs-font-size: 17px;
	--tabs-margin: 20px;
}

.nav-extra-large ,.nav-extra-large ~ .tab-content{
	--tabs-padding: 15px 30px;
	--tab-wrap-padding: 15px;
	--tabs-font-size: 20px;
	--tabs-margin: 25px;
}

.nav-small,.nav-small ~ .tab-content {
	--tabs-padding: 8px 15px;
	--tab-wrap-padding: 8px;
	--tabs-font-size: 15px;
	--tabs-margin: 10px;
}

.nav-extra-small,.nav-extra-small ~ .tab-content {
	--tabs-padding: 5px 10px;
	--tab-wrap-padding: 5px;
	--tabs-font-size: 13px;
	--tabs-margin: 5px;
}

@media (min-width: 576px) {
	.nav-sm-large,.nav-sm-large ~ .tab-content {
		--tabs-padding: 12px 25px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 17px;
		--tabs-margin: 20px;
	}

	.nav-sm-extra-large ,.nav-sm-extra-large ~ .tab-content{
		--tabs-padding: 15px 30px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 20px;
		--tabs-margin: 25px;
	}

	.nav-sm-small,.nav-sm-small ~ .tab-content {
		--tabs-padding: 8px 15px;
		--tab-wrap-padding: 8px;
		--tabs-font-size: 15px;
		--tabs-margin: 10px;
	}

	.nav-sm-extra-small,.nav-sm-extra-small ~ .tab-content {
		--tabs-padding: 5px 10px;
		--tab-wrap-padding: 5px;
		--tabs-font-size: 13px;
		--tabs-margin: 5px;
	}
}

@media (min-width: 768px) {
	.nav-md-large,.nav-md-large ~ .tab-content {
		--tabs-padding: 12px 25px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 17px;
		--tabs-margin: 20px;
	}

	.nav-md-extra-large ,.nav-md-extra-large ~ .tab-content{
		--tabs-padding: 15px 30px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 20px;
		--tabs-margin: 25px;
	}

	.nav-md-small,.nav-md-small ~ .tab-content {
		--tabs-padding: 8px 15px;
		--tab-wrap-padding: 8px;
		--tabs-font-size: 15px;
		--tabs-margin: 10px;
	}

	.nav-md-extra-small,.nav-md-extra-small ~ .tab-content {
		--tabs-padding: 5px 10px;
		--tab-wrap-padding: 5px;
		--tabs-font-size: 13px;
		--tabs-margin: 5px;
	}
}

@media (min-width: 992px) {
	.nav-lg-large,.nav-lg-large ~ .tab-content {
		--tabs-padding: 12px 25px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 17px;
		--tabs-margin: 20px;
	}

	.nav-lg-extra-large ,.nav-lg-extra-large ~ .tab-content{
		--tabs-padding: 15px 30px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 20px;
		--tabs-margin: 25px;
	}

	.nav-lg-small,.nav-lg-small ~ .tab-content {
		--tabs-padding: 8px 15px;
		--tab-wrap-padding: 8px;
		--tabs-font-size: 15px;
		--tabs-margin: 10px;
	}

	.nav-lg-extra-small,.nav-lg-extra-small ~ .tab-content {
		--tabs-padding: 5px 10px;
		--tab-wrap-padding: 5px;
		--tabs-font-size: 13px;
		--tabs-margin: 5px;
	}
}

@media (min-width: 1200px) {
	.nav-xl-large,.nav-xl-large ~ .tab-content {
		--tabs-padding: 12px 25px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 17px;
		--tabs-margin: 20px;
	}

	.nav-xl-extra-large ,.nav-xl-extra-large ~ .tab-content{
		--tabs-padding: 15px 30px;
		--tab-wrap-padding: 15px;
		--tabs-font-size: 20px;
		--tabs-margin: 25px;
	}

	.nav-xl-small,.nav-xl-small ~ .tab-content {
		--tabs-padding: 8px 15px;
		--tab-wrap-padding: 8px;
		--tabs-font-size: 15px;
		--tabs-margin: 10px;
	}

	.nav-xl-extra-small,.nav-xl-extra-small ~ .tab-content {
		--tabs-padding: 5px 10px;
		--tab-wrap-padding: 5px;
		--tabs-font-size: 13px;
		--tabs-margin: 5px;
	}
}


.nav-pills{
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: var(--tabs-margin);
}

.nav-pills .nav-item {
    margin-right: calc(var(--tabs-margin));
	border-radius: var(--tabs-border-radius);
}


.nav-pills .nav-item:focus:not(.active), .nav-pills .nav-item:hover:not(.active) {
    border-color: #eeeeee #eeeeee #eeeeee;
    background: whitesmoke;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-pills .active a.nav-link{
	border-radius: var(--tabs-border-radius) !important;
}
.nav-pills .nav-item {
    margin-bottom: -1px;
}
.nav-pills ~ .tab-content{
	border-radius: var(--tabs-border-radius) !important;
}
.nav-pills .nav-link {
    padding: var(--tabs-padding);
    display: block;
	font-size: var(--tabs-font-size);
    border: var(--tabs-outline-width) solid none;
	border-radius: var(--tabs-border-radius);
}

.nav-pills.nav-separate ~ .tab-content {
    border-radius: var(--tabs-border-radius) !important;
}
.nav-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.nav-vertical .nav-item {
    margin-bottom: 0px;
}

@media screen and (max-width: 500px){
    .nav-tabs .nav-link {
        --tabs-padding: 5px 10px;
    }
    .tab-pane {
        padding: 0;
    }
    .tab-wrap{
        --tab-wrap-padding: 15px;
    }
}
